*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.my-lightblue{
    color: lightblue;
}

.my-white{
    color: white;
}

.uppercase{
    text-transform: uppercase;
}

.bg-header{
    background-color: turquoise;
    height: 70px;
    padding: 20px;
    text-align: center;
}

header div h3 {
    display: inline-block;
}

.box-style{
    background-color: rgb(245, 159, 61);
    border-radius: 8px;
    border: 1px solid black;
    display: inline-block;
    padding: 10px 10px;
    text-align: center;
}

i{
    font-size: 3em;
}